@import '@/styles/config/queries.scss';

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
  gap: 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "name name"
    "formula formula"
    "parameters metabolites"
    "rates rates"
    "plots-container plots-container";

  @media (max-width: $ant-breakpoint-sm) {
    width: 100%;
  }

  :global(code) {
    margin-top: 5px;
    display: block;

    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;

  }
}

.name { grid-area: name; }

.formula { grid-area: formula; }

.parameters { grid-area: parameters; }

.metabolites { grid-area: metabolites; }

.rates { grid-area: rates; }

.plotsContainer { grid-area: plots-container; }
