@import '@/styles/config/queries.scss';

.modelComponentPicker {
  :global(font.clickable) {
    cursor: pointer;
    display: inline-block;
    white-space: break-spaces;
  }

  :global(font.clickable:hover) {
    // TODO: fix this animation
    // animation: zoom 0.2s linear forwards;
    color: #037fff;
    background: white;
    padding: 5px;
    border: solid 1px;
    border-radius: 5px;

    @keyframes zoom {
      0% {
        transform: scale(1.0);
      }
      100% {
        transform: scale(2.0);
      }
    }
  }

  :global(svg) {
    width: 100%;
    height: auto;
    overflow: visible;
  }
}

.interactiveImageExplanation {
  margin: 20px 0;
}

.blue {
  color: #037fff;
}

.dropdownPrefix {
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  @media (max-width: $ant-breakpoint-sm) {
    margin: 0px;
  }
}
.dropdownSuffix {
  margin-left: 10px;
  display: inline-block;
  margin-bottom: 10px;
}
.dropdownWidth {
  width: 300px;
  @media (max-width: $ant-breakpoint-sm) {
    width: 90%;
  }
}

.hideOnMobile {
  @media (max-width: $ant-breakpoint-sm) {
    display: none;
  }
}
